
h1 {
	color: white;
	font-size : 30px;
	margin-left: 100px;
}

.articleBox {
	margin:20;
	background-color: #76ccf7;
}

.navbloc {
	height: 120px;
	width: 140px;
	text-align: center;
	line-height: 120px;
	background-color: rgba(0,0,0,0);

}

.navbloc:hover {
	background-color: rgba(0,0,0,0.8);
}

#navbar {
	margin-bottom: 40px;
	background-image: url(public/pictures/banierePicture.jpg);
	background-size:cover;
	height: 120px;
}

.loger {
	display: flex;
	
}

#navbar a {
	color: white;
	font-size : 15px;
	font-weight: bold;
}

#navbar a:hover {
	text-decoration:none;
}

#article {
	padding-top: 20px;
}


