
h1 {
	color: white;
	font-size : 30px;
	margin-left: 100px;
}

h3 {
	font-size: 25px;
}


h4 {
	font-size: 15px;
}

.articleBox {
	padding-top : 40px;
	padding-bottom : 40px;
	background-color: #1e5470;
	color: white;
}

.navbloc {
	height: 120px;
	width: 140px;
	text-align: center;
	line-height: 120px;
	background-color: rgba(0,0,0,0);

}

.navbloc:hover {
	background-color: rgba(0,0,0,0.8);
}

#navbar {
	margin-bottom: 40px;
	background-image: url(public/pictures/banierePicture.jpg);
	background-size:cover;
	height: 120px;
}

.loger {
	display: flex;

}

#navbar a {
	color: white;
	font-size : 15px;
	font-weight: bold;
}

#navbar a:hover {
	text-decoration:none;
}

#article {
	padding-top: 20px;
}

.creationDate {
	font-size: 15px;
}

.commentLink {
	line-height: 40px;
}

#presentation {
	background-color: #76ccf7;
}

#presentation a {
	color: #1e5470;
}

#presentation a:hover {
	color: #1e5470;
}

#newArticle {
	padding-top: 15px;
	margin-top: 20px; 
	margin-bottom: 30px;
}

#newArticle:hover {
	text-decoration: underline;

}

a {
	color: #76ccf7;
}

a:hover {
	color: #76ccf7;
}